@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Flexo";
  src: url('./assets/fonts/Flexo-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: "Flexo";
  src: url('./assets/fonts/Flexo-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "Flexo";
  src: url('./assets/fonts/Flexo-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Flexo";
  src: url('./assets/fonts/Flexo-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "Flexo";
  src: url('./assets/fonts/Flexo-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Flexo";
  src: url('./assets/fonts/Flexo-Heavy.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: "Flexo";
  src: url('./assets/fonts/Flexo-Black.ttf') format('truetype');
  font-weight: 900;
}


*{
  padding: 0;
  margin: 0;
  font-family: "Flexo", sans-serif;
}


.buttonNavigatio{
  background-color: rgba(255, 255, 255, 0.4);
  @apply rounded-lg px-3 flex flex-row font-[400] text-white mb-3;
}

.iconNavigation{
  @apply mt-1 text-white ml-2 font-bold;
}

/* animacion */
.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
